SGOINFRE_BASE="$HOME/sgoinfre"
if [ -d "$SGOINFRE_BASE" ]; then
    SGOINFRE="$SGOINFRE_BASE/hs_overlay"
else
    SGOINFRE="$(pwd)/.local"
fi

export DOTNET_ROOT="$SGOINFRE/.dotnet"

export NUGET_PACKAGES="$SGOINFRE/.nuget"

export DOTNET_CLI_HOME="$SGOINFRE/.dotnet_home"

export PATH="$DOTNET_ROOT:$DOTNET_ROOT/tools:$PATH"

mkdir -p "$DOTNET_ROOT" "$NUGET_PACKAGES" "$DOTNET_CLI_HOME"